<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax dischi</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div id="root">
        
        <header>
        
            <img src="./spotify-logo.png" alt="Spotify Logo">  

            <select v-model="selezioneGenere" name="boh"> <!-- faccio un binding del valore dell'opzione selezionata tramite v-model -->
                <option v-for="genere in generi" :value="genere">{{genere}}</option>
            </select>
    
        </header>
    
        <main>
    
            <div class="container albums">
                
                <!-- mostro solo le card che hanno come genere quello selezionato nella select dell'header -->
                <!-- ciclo tutti gli elementi presenti nell'array albums -->
                <div v-show="data.genre.includes(selezioneGenere)" class="card" v-for="data in albums">

                    <img :src="data.poster" :alt="data.title">

                    <h3>{{data.title}}</h3>

                    <span>{{data.author}}</span>

                    <span>{{data.year}}</span>

                </div>

            </div>
    
        </main>

    </div>    
   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>

</body>
</html>